@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
@import "/public/fonts/iransans/css/iransans.css"

// Set font size
$font-size-xxs = 10px
$font-size-xs = 12px
$font-size-sm = 13px
$font-size-md = 14px
$font-size-lg = 18px
$font-size-xl = 20px
$font-size = $font-size-md