/* grid variable */
$width-xxs-container = auto
$width-xs-container = auto
$width-sm-container = 420px
$width-md-container = 600px
$width-lg-container = 768px
$width-xl-container = 950px
$list-item-flex = center baseline flex-end flex-start space-around space-between