.rs-toggle
    display inline-block
    margin 5px
    width fit-content
    line-height 1
    border-radius 4px
    border solid 1px
    border-color transparent

    a
        margin 0
        border none
        &.active
            opacity 1
            background rgba(0, 0, 0, .5)

    span
        display inline-block
        padding 7px 8px
        line-height 1