//@font-face {
//    font-family: 'Oxanium Regular';
//    font-style: normal;
//    font-weight: normal;
//    src: local('Oxanium Regular'), url('/public/fonts/oxanium/Oxanium-Regular.woff') format('woff');
//}


//@font-face {
//    font-family: 'Oxanium ExtraLight';
//    font-style: normal;
//    font-weight: normal;
//    src: local('Oxanium ExtraLight'), url('/public/fonts/oxanium/Oxanium-ExtraLight.woff') format('woff');
//}


//@font-face {
//    font-family: 'Oxanium Light';
//    font-style: normal;
//    font-weight: normal;
//    src: local('Oxanium Light'), url('/public/fonts/oxanium/Oxanium-Light.woff') format('woff');
//}


@font-face {
    font-family: 'Oxanium Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Oxanium Medium'), url('/public/fonts/oxanium/Oxanium-Medium.woff') format('woff');
}


//@font-face {
//    font-family: 'Oxanium SemiBold';
//    font-style: normal;
//    font-weight: normal;
//    src: local('Oxanium SemiBold'), url('/public/fonts/oxanium/Oxanium-SemiBold.woff') format('woff');
//}


//@font-face {
//    font-family: 'Oxanium Bold';
//    font-style: normal;
//    font-weight: normal;
//    src: local('Oxanium Bold'), url('/public/fonts/oxanium/Oxanium-Bold.woff') format('woff');
//}


//@font-face {
//    font-family: 'Oxanium ExtraBold';
//    font-style: normal;
//    font-weight: normal;
//    src: local('Oxanium ExtraBold'), url('/public/fonts/oxanium/Oxanium-ExtraBold.woff') format('woff');
//}
