$primary = {
  "base":       #333959,
  "lighten-5":  lighten(#333959, 5),
  "lighten-4":  lighten(#333959, 4),
  "lighten-3":  lighten(#333959, 3),
  "lighten-2":  lighten(#333959, 2),
  "lighten-1":  lighten(#333959, 1),
  "darken-1":   darken(#333959, 1),
  "darken-2":   darken(#333959, 2),
  "darken-3":   darken(#333959, 3),
  "darken-4":   darken(#333959, 4)
}
$secondary = {
  "base":       #6069a6,
  "lighten-5":  lighten(#6069a6, 5),
  "lighten-4":  lighten(#6069a6, 4),
  "lighten-3":  lighten(#6069a6, 3),
  "lighten-2":  lighten(#6069a6, 2),
  "lighten-1":  lighten(#6069a6, 1),
  "darken-1":   darken(#6069a6, 1),
  "darken-2":   darken(#6069a6, 2),
  "darken-3":   darken(#6069a6, 3),
  "darken-4":   darken(#6069a6, 4)
}
$info = {
  "base":       #3D6BC4,
  "lighten-5":  lighten(#3D6BC4, 5),
  "lighten-4":  lighten(#3D6BC4, 4),
  "lighten-3":  lighten(#3D6BC4, 3),
  "lighten-2":  lighten(#3D6BC4, 2),
  "lighten-1":  lighten(#3D6BC4, 1),
  "darken-1":   darken(#3D6BC4, 1),
  "darken-2":   darken(#3D6BC4, 2),
  "darken-3":   darken(#3D6BC4, 3),
  "darken-4":   darken(#3D6BC4, 4)
}

$colorsTheme := {
  "primary": $primary,
  "secondary": $secondary,
  "info": $info
}

$colorSuccess = #aaf48b
$colorSuccessDark = #00ba87
$colorDanger = #cc3f7f
$colorDisabled = #9e9e9e
$colorWarning = #dca90a
$colorActive = #be92d0