$gradientPrimary = $gradientOrange
$gradientSuccess = $gradientGreen
$gradientInfo = $gradientBlue
$gradientDanger = $gradientRed

$gradientsTheme := {
    'primary': $gradientPrimary,
    'success': $gradientSuccess,
    'info': $gradientInfo,
    'danger': $gradientDanger
}