.toggle-icon
    line-height 0
    width 8px
    height 8px
    fill white
    color white
    -webkit-transition: all .3s
    -moz-transition: all .3s
    -ms-transition: all .3s
    -o-transition: all .3s
    transition: all .3s

    svg
        line-height 100%

    &.down
        -webkit-transform: rotateX(180deg)
        -moz-transform: rotateX(180deg)
        -ms-transform: rotateX(180deg)
        -o-transform: rotateX(180deg)
        transform: rotateX(180deg)
        -webkit-transition: all .3s
        -moz-transition: all .3s
        -ms-transition: all .3s
        -o-transition: all .3s
        transition: all .3s