.border-
    &bottom-none
        border-bottom none !important
    &left-none
        border-left none !important
    &right-none
        border-right none !important
    &top-none
        border-top none !important
    / .ltr &
        &-end-none
            border-right none !important
        &-start-none
            border-left none !important
    / .rtl &
        &-end-none
            border-left none !important
        &-start-none
            border-right none !important

$xxs[".border-xxs-none"] = {
        'border': none !important
    }
$xs[".border-xs-none"] = $xxs[".border-xxs-none"]
$sm[".border-sm-none"] = $xxs[".border-xxs-none"]
$md[".border-md-none"] = $xxs[".border-xxs-none"]
$lg[".border-lg-none"] = $xxs[".border-xxs-none"]
$xl[".border-xl-none"] = $xxs[".border-xxs-none"]

$xxs[".border-bottom-xxs-none"] = {
        'border-bottom': none !important
    }
$xs[".border-bottom-xs-none"] = $xxs[".border-bottom-xxs-none"]
$sm[".border-bottom-sm-none"] = $xxs[".border-bottom-xxs-none"]
$md[".border-bottom-md-none"] = $xxs[".border-bottom-xxs-none"]
$lg[".border-bottom-lg-none"] = $xxs[".border-bottom-xxs-none"]
$xl[".border-bottom-xl-none"] = $xxs[".border-bottom-xxs-none"]

$xxs[".border-left-xxs-none"] = {
        'border-left': none !important
    }
$xs[".border-left-xs-none"] = $xxs[".border-left-xxs-none"]
$sm[".border-left-sm-none"] = $xxs[".border-left-xxs-none"]
$md[".border-left-md-none"] = $xxs[".border-left-xxs-none"]
$lg[".border-left-lg-none"] = $xxs[".border-left-xxs-none"]
$xl[".border-left-xl-none"] = $xxs[".border-left-xxs-none"]

$xxs[".border-right-xxs-none"] = {
        'border-right': none !important
    }
$xs[".border-right-xs-none"] = $xxs[".border-right-xxs-none"]
$sm[".border-right-sm-none"] = $xxs[".border-right-xxs-none"]
$md[".border-right-md-none"] = $xxs[".border-right-xxs-none"]
$lg[".border-right-lg-none"] = $xxs[".border-right-xxs-none"]
$xl[".border-right-xl-none"] = $xxs[".border-right-xxs-none"]

$xxs[".border-top-xxs-none"] = {
        'border-right': none !important
    }
$xs[".border-top-xs-none"] = $xxs[".border-top-xxs-none"]
$sm[".border-top-sm-none"] = $xxs[".border-top-xxs-none"]
$md[".border-top-md-none"] = $xxs[".border-top-xxs-none"]
$lg[".border-top-lg-none"] = $xxs[".border-top-xxs-none"]
$xl[".border-top-xl-none"] = $xxs[".border-top-xxs-none"]

$ltr[".border-end-none"] = {
        'border-right': none !important
    }
$ltr[".border-start-none"] = {
        'border-left': none !important
    }
$rtl[".ltr .border-end-none"] = {
        'border-right': none !important
    }
$rtl[".ltr .border-start-none"] = {
        'border-left': none !important
    }
$rtl[".border-end-none"] = {
        'border-left': none !important
    }
$rtl[".border-start-none"] = {
        'border-right': none !important
    }
$ltr[".rtl .border-end-none"] = {
        'border-left': none !important
    }
$ltr[".rtl .border-start-none"] = {
        'border-right': none !important
    }

$xxs[".ltr .border-end-xss-none"] = {
        'border-right': none !important
    }
$xs[".ltr .border-end-xs-none"] = $xxs[".ltr .border-end-xss-none"]
$sm[".ltr .border-end-sm-none"] = $xxs[".ltr .border-end-xss-none"]
$md[".ltr .border-end-md-none"] = $xxs[".ltr .border-end-xss-none"]
$lg[".ltr .border-end-lg-none"] = $xxs[".ltr .border-end-xss-none"]
$xl[".ltr .border-end-xl-none"] = $xxs[".ltr .border-end-xss-none"]

$xxs[".rtl .ltr .border-end-xss-none"] = {
        'border-right': none !important
    }
$xs[".rtl .ltr .border-end-xs-none"] = $xxs[".rtl .ltr .border-end-xss-none"]
$sm[".rtl .ltr .border-end-sm-none"] = $xxs[".rtl .ltr .border-end-xss-none"]
$md[".rtl .ltr .border-end-md-none"] = $xxs[".rtl .ltr .border-end-xss-none"]
$lg[".rtl .ltr .border-end-lg-none"] = $xxs[".rtl .ltr .border-end-xss-none"]
$xl[".rtl .ltr .border-end-xl-none"] = $xxs[".rtl .ltr .border-end-xss-none"]

$xxs[".ltr .border-start-xss-none"] = {
        'border-left': none !important
    }
$xs[".ltr .border-start-xs-none"] = $xxs[".ltr .border-start-xss-none"]
$sm[".ltr .border-start-sm-none"] = $xxs[".ltr .border-start-xss-none"]
$md[".ltr .border-start-md-none"] = $xxs[".ltr .border-start-xss-none"]
$lg[".ltr .border-start-lg-none"] = $xxs[".ltr .border-start-xss-none"]
$xl[".ltr .border-start-xl-none"] = $xxs[".ltr .border-start-xss-none"]

$xxs[".rtl .ltr .border-start-xss-none"] = {
        'border-left': none !important
    }
$xs[".rtl .ltr .border-start-xs-none"] = $xxs[".rtl .ltr .border-start-xss-none"]
$sm[".rtl .ltr .border-start-sm-none"] = $xxs[".rtl .ltr .border-start-xss-none"]
$md[".rtl .ltr .border-start-md-none"] = $xxs[".rtl .ltr .border-start-xss-none"]
$lg[".rtl .ltr .border-start-lg-none"] = $xxs[".rtl .ltr .border-start-xss-none"]
$xl[".rtl .ltr .border-start-xl-none"] = $xxs[".rtl .ltr .border-start-xss-none"]

$xxs[".rtl .border-end-xss-none"] = {
        'border-left': none !important
    }
$xs[".rtl .border-end-xs-none"] = $xxs[".rtl .border-end-xss-none"]
$sm[".rtl .border-end-sm-none"] = $xxs[".rtl .border-end-xss-none"]
$md[".rtl .border-end-md-none"] = $xxs[".rtl .border-end-xss-none"]
$lg[".rtl .border-end-lg-none"] = $xxs[".rtl .border-end-xss-none"]
$xl[".rtl .border-end-xl-none"] = $xxs[".rtl .border-end-xss-none"]

$xxs[".ltr .rtl .border-end-xss-none"] = {
        'border-left': none !important
    }
$xs[".ltr .rtl .border-end-xs-none"] = $xxs[".ltr .rtl .border-end-xss-none"]
$sm[".ltr .rtl .border-end-sm-none"] = $xxs[".ltr .rtl .border-end-xss-none"]
$md[".ltr .rtl .border-end-md-none"] = $xxs[".ltr .rtl .border-end-xss-none"]
$lg[".ltr .rtl .border-end-lg-none"] = $xxs[".ltr .rtl .border-end-xss-none"]
$xl[".ltr .rtl .border-end-xl-none"] = $xxs[".ltr .rtl .border-end-xss-none"]

$xxs[".rtl .border-start-xss-none"] = {
        'border-right': none !important
    }
$xs[".rtl .border-start-xs-none"] = $xxs[".rtl .border-start-xss-none"]
$sm[".rtl .border-start-sm-none"] = $xxs[".rtl .border-start-xss-none"]
$md[".rtl .border-start-md-none"] = $xxs[".rtl .border-start-xss-none"]
$lg[".rtl .border-start-lg-none"] = $xxs[".rtl .border-start-xss-none"]
$xl[".rtl .border-start-xl-none"] = $xxs[".rtl .border-start-xss-none"]

$xxs[".ltr .rtl .border-start-xss-none"] = {
        'border-right': none !important
    }
$xs[".ltr .rtl .border-start-xs-none"] = $xxs[".ltr .rtl .border-start-xss-none"]
$sm[".ltr .rtl .border-start-sm-none"] = $xxs[".ltr .rtl .border-start-xss-none"]
$md[".ltr .rtl .border-start-md-none"] = $xxs[".ltr .rtl .border-start-xss-none"]
$lg[".ltr .rtl .border-start-lg-none"] = $xxs[".ltr .rtl .border-start-xss-none"]
$xl[".ltr .rtl .border-start-xl-none"] = $xxs[".ltr .rtl .border-start-xss-none"]
