.theme--{$theme}

    // Chrome, Firefox, Opera, Safari 10.1+
    ::placeholder
        {$placeholder}

    // Internet Explorer 10-11
    :-ms-input-placeholder
        {$placeholder}

    // Microsoft Edge
    ::-ms-input-placeholder
        {$placeholder}