@import "~vue2-scrollbar/dist/style/vue2-scrollbar.css"
.vue-scrollbar__wrapper
    background transparent !important
.vue-scrollbar__scrollbar-vertical
    width 4px !important
    & .scrollbar
        width 4px !important

